{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font-awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- My own CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

<!-- I acknowledge that the code below was taken from cs416f23 repository -->
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">CS 416</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page2</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Page3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Page4</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#"
                           role="button" aria-expanded="false">{{  user.username}}</a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="{% url 'index' %}">Home</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li> <a class="dropdown-item" href="{% url 'logout' %}">Logout</a> </li>
                        </ul>
                    </li>
                    </ul>

                {% else %}
                    <a class="btn btn-light" href={% url 'login' %}>Login</a>
                    <div class="m-2"></div>
                    <a class="btn btn-light" href={% url 'register' %}>Register</a>
                {% endif %}
        </div>
    </div>
</nav>


<div class="container my-5">
    {% block body %}
    {% endblock %}
</div>


<!-- Bootstrap's JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
