{% extends 'accounts/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-3 text-center">Register</h1>
                    <form action="{% url 'register' %}" method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-plus"></i> Register</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


{% endblock %}